body {
    background-color: aquamarine;
}
header {
    background-color: aqua;
    padding: 30px 0;
    text-align: center;
}
h1, h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}
main {
    padding: 20px 0;
    text-align: center;
}

ul {
    margin: 30px 0;
}
li {
    margin: 15px auto;
    padding: 10px 0;
    background-color: aqua;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

li:hover {
    width: 32%;
    border-radius: 10px;
    background-color: rgb(0, 188, 188);
}

a {
    text-decoration: none;
    ;
}

footer{
    text-align: center;
    font-size: 20px;
}

footer img {
    width: 100px;
    margin-bottom: 15px;

}